<app-header title="Cards"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ea autem
      ipsa suscipit saepe repudiandae optio officiis velit repellat delectus,
      accusantium neque nam rem praesentium omnis voluptatibus, recusandae
      eveniet deleniti?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://as.com/meristation/imagenes/2019/06/10/betech/1560195710_365328_1560195771_noticia_normal.jpg"
      alt=""
    />

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ea autem
      ipsa suscipit saepe repudiandae optio officiis velit repellat delectus,
      accusantium neque nam rem praesentium omnis voluptatibus, recusandae
      eveniet deleniti?
    </ion-card-content>
  </ion-card>
</ion-content>
